@import "./reset"
@import "./mixins"
@import "./palette"

@import url('https://fonts.googleapis.com/css?family=Heebo:400,500,600');

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body, #app
    height 100%

body
    font-family 'Heebo', sans-serif

input, button, textarea
    background unset
    border none
    color inherit
    font-family inherit
    font-size inherit


h1
    font-size 3.3rem
    font-weight 600
h2
    font-size 1.6rem
    font-weight 500

#app
    height 100%
    display flex
    main
        flex 1
        .content
            margin 0 4.5rem 0 4.5rem

header
    margin 5.6rem 4.5rem 2.9rem 4.5rem
    .col1, .col2
        display flex
    .col1
        margin .5rem 0
        align-items center
        h1
            flex 1
    .col2
        justify-content space-between
        .left, .right
            line-height 0
        .left
            text-align left
        .right
            text-align right

.sidebar
    background $archive-prim2-dark
    border-bottom-left-radius $archive-radius1
    min-width 19rem
    .sidebar-button
        background $archive-prim1
        border-radius 40%
        fill: #ffffff
        padding 0.58rem
        line-height 0
        svg
            height 2rem
            width 2rem
    .sidebar-header
        display flex
        align-items center
        margin 1.75rem 1.5rem
        .name-combo
            flex 1
    nav
        color $archive-prim1
        margin 0 1.5rem
        font-weight 500
        ul
            margin 1.5rem 0
            li
                margin .75rem 0


// Components

.name-combo
    .name, .username
        display inline-block
    .name
        font-weight 600
        font-size 1.33rem
        color: $archive-inv
        margin-right .25rem
    .username
        font-weight 400
        font-size 1rem
        color: transparentify($archive-inv, 0.75)

.button-big
    background $archive-inv
    color $archive-std
    border-radius 10rem
    padding .5rem 1.5rem
    font-size 0.85rem
    font-weight 500

.button-icon
    margin 0
    padding 0
    line-height 0
    svg
        height 1.8rem
        width 1.8rem

// Old stuff, try to remove it

.inputField
    border-left 2px solid lightgrey
    display flex
    flex-direction column
    padding-left .5rem
    &:not(:last-child)
        margin-bottom .5rem
    input, textarea, .tag
        background unset
        border none
        margin .2em .2em .2em 0
        font-weight 500
        font-size 1.1em
        padding 0
    textarea
        resize none
    label
        color $archive-darkgrey
        text-transform uppercase
        font-weight 500
        margin .4em .4em 0 0
        font-size .8em
        overflow hidden
        max-height 0
        opacity 0
        transition max-height .25s, opacity .25s
        &.visible
            max-height 1rem
            opacity 1
    &.error
        border-color $archive-prim1
    .error
        font-weight 500
        color $archive-prim1
        text-transform uppercase
        font-size .8em
        padding-left 1rem
        margin-bottom .5rem
        li
            display list-item
            list-style-type disc

.inputField .autocomplete
    position relative
    display flex
    flex-wrap wrap
    input, textarea, .tag
        line-height initial
    input
        flex-grow 100
        min-width 6rem
    .tag
        display flex
        align-items center
        .icon
            height 1rem
            svg
                stroke $archive-black
                height 100%
                display block
                width auto

    .results
        position absolute
        display block
        background $archive-prim2-dark
        border-top none
        z-index 99
        top calc(100% + 2px)
        left 0
        right 0
        border-radius .75rem
        padding .4rem
        hr
            border-color $archive-grey
            margin .2rem 0
        .result
            remove-native()
            padding .6rem .6rem
            line-height 1.1rem
            background $archive-prim2-light
            &:not(:last-child)
                margin-bottom 0.3rem
            &:first-child
                border-top-left-radius .5rem
                border-top-right-radius .5rem
            &:last-child
                border-bottom-left-radius .5rem
                border-bottom-right-radius .5rem
            &.create
                background $archive-std
            &:hover, &:active
                background $archive-prim1
                color $archive-std
        .info
            padding 0 0.6rem 0.3rem 0.6rem
            font-size .8rem
            &.error
                color $archive-prim


.upload
    min-height 100%
    display flex
    flex-direction column
    position relative
    .dropzone
        position absolute
        visibility hidden
        left 0
        right 0
        top 0
        bottom 0
        z-index 999
        background grey
        &.showDropzone {
            visibility initial
        }
    .items
        flex-grow 1
        margin 0 $archive-margin
        input.uploadclick
            width 0.1px
            height 0.1px
            opacity 0
            overflow hidden
            position absolute
            z-index -1
    .item
        display flex
        margin-bottom 3rem
        .preview
            border-radius $archive-radius2
            overflow hidden
            line-height 0
            margin-right 2rem
            width 24rem
            img, video
                width 100%
                object-fit cover
        .data
            flex 1
            > .error
                font-weight 500
                color $archive-prim
                text-transform uppercase
        @media screen and (max-width: $archive-screen-mid)
            flex-direction column
            .preview
                margin 0 auto 2rem auto
        &.uploadclick
            .preview
                box-shadow none
                line-height 1rem
                display block
                padding 4.25rem 1.5rem 5rem 1.5rem
                text-align center
                background $archive-grey
                color $archive-prim
                font-weight 500
                box-sizing border-box
                svg
                    height 2rem
                    width auto
                    stroke $archive-prim


.login
    position absolute
    display flex
    flex-direction column
    left 0
    right 0
    top 0
    bottom 0
    .card
        color $archive-white
        background $archive-black
        flex 1
        padding $archive-margin
        card-radius true true
    &::before
        content ''
        height 5rem
