@import "./palette"

card-radius(topleft=false, topright=false, bottomleft=false, bottomright=false)
    if topleft
        border-top-left-radius $archive-radius
    if topright
        border-top-right-radius $archive-radius
    if bottomleft
        border-bottom-left-radius $archive-radius
    if bottomright
        border-bottom-right-radius $archive-radius

remove-native()
    user-drag none
    -webkit-user-drag none
    -webkit-tap-highlight-color transparent
    -webkit-touch-callout none
    -webkit-user-select none
    outline none
    user-select none

varinject($obj)
    $ddash = \-+\-
    for val in $obj
        $key = $ddash+val
        {$key} $obj[val]
