// old stuff
$archive-white = #ffffff
$archive-black = #000000
$archive-prim = #d4213a
$archive-grey = #f0f1f4
$archive-darkgrey = #7b7b7b

$archive-radius = 1.5rem
$archive-margin = 2.5rem

// new stuff
$archive-std = #FFFFFF
$archive-inv = #000000
$archive-prim1 = #D4213A
$archive-prim2-light = #F8F8FA
$archive-prim2-dark = #F0F1F4
$archive-prim2-darker = #D3D6DE

$archive-radius1 = 3rem
$archive-radius2 = 1rem
$archive-radius3 = 0.625rem

$archive-margin = 2.5rem


// universal
$archive-screen-mid = 800px
$archive-screen-small = 400px
