$archive-std = #FFFFFF
$archive-inv = #000000
$archive-primary = #D4213A
$archive-grey1 = #F6F6F6
$archive-grey2 = #ECECEC
$archive-grey3 = #7b7b7b

$archive-white = #FFFFFF
$archive-green = #21D469
$archive-green-selected = darken($archive-green, 10)

$archive-radius-profile = 40%
$archive-radius1 = 2rem
$archive-radius2 = 1rem
$archive-radius3 = 0.375rem

$archive-margin = 2.5rem

$archive-hoverShadow = 0px 0px 50px rgba(0, 0, 0, 0.15)


// universal
$archive-screen-mid = 800px
$archive-screen-small = 500px
