/* latin */
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  src: local('Heebo'), local('Heebo-Regular'), url('~@/assets/fonts/Heebo-Regular.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 500;
  src: local('Heebo Medium'), local('Heebo-Medium'), url('~@/assets/fonts/Heebo-Medium.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 700;
  src: local('Heebo Bold'), local('Heebo-Bold'), url('~@/assets/fonts/Heebo-Bold.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

$light = {
    archive-std: #FFFFFF
    archive-std-a04: rgba(#FFFFFF, 0.4)
    archive-inv: #000000
    archive-inv-a04: rgba(#000000, 0.4)
    archive-primary1: #D4213A
    archive-primary1-a01: rgba(#D4213A, 0.1)
    archive-primary1-a025: rgba(#D4213A, 0.25)
    archive-primary2: #FFD646
    archive-grey1: #F6F6F6
    archive-grey2: #ECECEC
    archive-grey3: #7b7b7b
}

$dark = {
    archive-std: #141414
    archive-std-a04: rgba(#000000, 0.4)
    archive-inv: #F4F4F4
    archive-inv-a04: rgba(#F4F4F4, 0.4)
    archive-primary1: #FF2C49
    archive-primary1-a01: rgba(#FF2C49, 0.1)
    archive-primary1-a025: rgba(#FF2C49, 0.25)
    archive-primary2: #FFD646
    archive-grey1: #000000
    archive-grey2: #232323
    archive-grey3: #707070
}

$archive-white = #FFFFFF
$archive-black = #000000
$archive-green = #21D469
$archive-green-selected = darken($archive-green, 10)

$archive-radius-profile = 40%
$archive-radius1 = 2rem
$archive-radius2 = 1rem
$archive-radius3 = 0.375rem

$archive-margin = 2.5rem

$archive-hoverShadow1 = 0px 0px 30px rgba(0, 0, 0, 0.2)
$archive-hoverShadow2 = 0px 0px 25px rgba(0, 0, 0, 0.1)
$archive-hoverShadow3 = 0px 0px 50px rgba(0, 0, 0, 0.2)


// universal
$archive-screen-large = 1000px
$archive-screen-mid = 800px
$archive-screen-small = 500px


c(n, varname, args...)
    var = $light[varname]
    {n} args var;
    {n} args 'var(--%s, %s)' % (varname var);
