---
import Button from 'tint/components/Button.svelte'

import HeaderMenu from './HeaderMenu.svelte'

const { signedIn, me, error } = Astro.locals.me
---

<header>
  <div>
    <a href="/"><h1>Archive</h1></a>
  </div>
  <div>
    {
      error || Astro.isPrerendered ? null : signedIn ? (
        <HeaderMenu client:idle user={me?.data.me} />
      ) : (
        <Button small={true} href="/login">
          Log in
        </Button>
      )
    }
  </div>
</header>

<script>
  let ticking = false
  function checkHeaderScroll() {
    const header = document.querySelector('header')
    if (header) {
      if (window.scrollY > 10) {
        header.classList.add('scrolled')
      } else {
        header.classList.remove('scrolled')
      }
    }
  }
  function onScroll() {
    if (!ticking) {
      window.requestAnimationFrame(() => {
        checkHeaderScroll()
        ticking = false
      })
      ticking = true
    }
  }
  window.addEventListener('scroll', onScroll, { passive: true })
  checkHeaderScroll()
</script>

<style lang="sass">
  header
    display: flex
    justify-content: space-between
    align-items: center
    height: 72px
    padding-inline: tint.$size-24
    background-color: var(--tint-bg)
    @media (max-width: tint.$breakpoint-md)
      position: sticky
      top: 0
      z-index: 1000
      background-image: linear-gradient(var(--tint-bg),color-mix(in srgb, var(--tint-bg) 0%, transparent))
      transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out
      &.scrolled
        box-shadow: var(--tint-card-shadow), inset 0 -1px 0px 0px rgba(0, 0, 0, 0.06)
        background-color: color-mix(in srgb, var(--tint-bg) 80%, transparent)
        backdrop-filter: blur(8px)

  header.scrolled
    @media (prefers-reduced-transparency: reduce)
      background-color: var(--tint-bg)
      backdrop-filter: none
    @media (forced-colors: active)
      background-color: var(--tint-bg)
      backdrop-filter: none
      box-shadow: none
      border-bottom: 1px solid var(--tint-card-border)

  a
    text-decoration: none
    &:hover, &:active
      text-decoration: underline
  h1
    font-family: 'HK Grotesk', sans-serif
    font-size: tint.$size-24
    font-weight: 700
</style>
