$colors: (
  plain: (
    bg: #ffffff,
    text: #000000,
    text-secondary: #484848,
    text-accent: #d4213a,
    text-link: #2805ff,
    action-primary: #000000,
    action-primary-text: #ffffff,
    action-secondary: #000000,
    action-secondary-text: #000000,
    action-primary-hover: #3a3a3a,
    action-primary-active: #636363,
    action-secondary-hover: #0000001a,
    action-secondary-active: #0000004d,
    input-bg: #eeeef1,
  ),
  tint: (
    bg: #ffedec,
    text: #310206,
    text-secondary: #861021,
    text-accent: #d4213a,
    text-link: #2805ff,
    action-primary: #d4213a,
    action-primary-text: #fdfdfd,
    action-secondary: #d4213a,
    action-secondary-text: #d4213a,
    action-primary-hover: #b61a30,
    action-primary-active: #861021,
    action-secondary-hover: #d4213a1a,
    action-secondary-active: #d4213a33,
    input-bg: #ffd6d4,
  ),
  general: (
    card-border: rgba(0, 0, 0, 0.1),
    card-shadow: '0 5px 40px #0000001a, inset 0 2px 0 -1px #ffffff80',
  ),
);

$colors-dark: (
  plain: (
    bg: #150e0e,
    text: #ffffff,
    text-secondary: #d6d6d6,
    text-accent: #f22643,
    text-link: #2805ff,
    action-primary: #ffffff,
    action-primary-text: #000000,
    action-secondary: #ffffff,
    action-secondary-text: #ffffff,
    action-primary-hover: #dedede,
    action-primary-active: #aeaeae,
    action-secondary-hover: #ffffff1a,
    action-secondary-active: #ffffff4d,
    input-bg: #2c2c2c,
  ),
  tint: (
    bg: #3f1516,
    text: #ffffff,
    text-secondary: #fcbbb8,
    text-accent: #f94b57,
    text-link: #2805ff,
    action-primary: #d4213a,
    action-primary-text: #fdfdfd,
    action-secondary: #fdd4d2,
    action-secondary-text: #fdd4d2,
    action-primary-hover: #ee2542,
    action-primary-active: #f94b57,
    action-secondary-hover: #fdd4d21a,
    action-secondary-active: #fdd4d233,
    input-bg: #602426,
  ),
  general: (
    card-border: rgba(255, 255, 255, 0.3),
    card-shadow: '0 5px 40px #000000a4, inset 0 2px 0 -1px #ffffff60',
  ),
);

$colors-player: (
  bg: #1a1a1a,
  text: #ffffff,
  text-secondary: #cccccc,
  text-accent: #d4213a,
  text-link: #ffffff,
  action-primary: #ffffff,
  action-primary-text: #000000,
  action-secondary: #ffffff,
  action-secondary-text: #ffffff,
  action-primary-hover: #cccccc,
  action-primary-active: #999999,
  action-secondary-hover: #ffffff49,
  action-secondary-active: #ffffff9a,
  input-bg: #222222,
);
