---
import Layout from '@src/layouts/Layout.astro'
import Form from './form.svelte';
---

<Layout title="Julian Gaibler" description="Code and Comic Human from Berlin.">
  <div class="tint--tinted"></div>
  <div class="shrinkwrap"><Form client:load /></div>
</Layout>

<style lang="sass">
  .tint--tinted
    background: var(--tint-bg)
    height: 12px
</style>
