---
import fonts from 'tint/fonts'
import Header from '@src/components/Header.astro'

interface Props {
  title: string
  description?: string
}

const { title, description } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {description && <meta name="description" content={description} />}
    <meta name="viewport" content="width=device-width" />
    {fonts.map(item => (
            <link rel="preload" href={item} as="font" type="font/woff2" crossorigin />
        ))}
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#CC5D60">
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>
<style is:global lang="sass">
  @import "../styles/global"
</style>
