---
import Button from 'tint/components/Button.svelte'

import { getSdk } from '@src/generated/graphql'
import HeaderMenu from './HeaderMenu.svelte'

const ssrClient = Astro.locals.gqlClient

const sdk = getSdk(ssrClient)

const result = await sdk.me()
---

<header>
  <div>
    <a href="/"><h1>Archive</h1></a>
  </div>
  <div>
    {
      result.data?.me ? (
        <HeaderMenu client:load user={result.data.me} />
      ) : (
        <Button small={true} href="/login">
          Log in
        </Button>
      )
    }
  </div>
</header>

<style lang="sass">
  header
    display: flex
    justify-content: space-between
    align-items: center
    height: 72px
    padding-inline: tint.$size-24
    background-color: var(--tint-bg)

  a
    text-decoration: none
    &:hover, &:active
      text-decoration: underline
  h1
    font-family: 'HK Grotesk', sans-serif
    font-size: tint.$size-24
    font-weight: 700
</style>
