$colors: (
  plain: (
    bg: #ffffff,
    text: #1f1e24,
    text-secondary: #51505e,
    text-accent: #eb2a2f,
    text-link: #2805ff,
    action-primary: #1e1d25,
    action-primary-text: #1e1d25,
    action-secondary: #1e1d25,
    action-secondary-text: #1e1d25,
    action-primary-hover: #3d3b4b,
    action-primary-active: #59566c,
    action-secondary-hover: #1e1d251a,
    action-secondary-active: #1e1d254d,
    input-bg: #eeeef1,
  ),
  tint: (
    bg: #e9f3ff,
    text: #1e1d25,
    text-secondary: #4e4c62,
    text-accent: #cc5d60,
    text-link: #2805ff,
    action-primary: #001f44,
    action-primary-text: #fdfdfd,
    action-secondary: #001f44,
    action-secondary-text: #001f44,
    action-primary-hover: #224a79,
    action-primary-active: #4171a9,
    action-secondary-hover: #001f441a,
    action-secondary-active: #001f4433,
    input-bg: #cbdaed,
  ),
  general: (
    card-border: rgba(0, 0, 0, 0.1),
    card-shadow: '0 5px 40px #0000001a, inset 0 2px 0 -1px #ffffff80',
  ),
);
