$colors: (
  plain: (
    bg: #FFFFFF,
    text: #1F1E24,
    text-secondary: #51505E,
    text-accent: #EB2A2F,
    text-link: #2805FF,
    action-primary: #1E1D25,
    action-primary-text: #1E1D25,
    action-secondary: #1E1D25,
    action-secondary-text: #1E1D25,
    action-primary-hover: #3D3B4B,
    action-primary-active: #59566C,
    action-secondary-hover: #1E1D251A,
    action-secondary-active: #1E1D254D,
    input-bg: #EEEEF1,
  ),
  tint: (
    bg: #E9F3FF,
    text: #1E1D25,
    text-secondary: #4E4C62,
    text-accent: #CC5D60,
    text-link: #2805FF,
    action-primary: #001F44,
    action-primary-text: #FDFDFD,
    action-secondary: #001F44,
    action-secondary-text: #001F44,
    action-primary-hover: #224A79,
    action-primary-active: #4171A9,
    action-secondary-hover: #001F441A,
    action-secondary-active: #001F4433,
    input-bg: #CBDAED,
  ),
  general: (
    card-border: rgba(0, 0, 0, 0.1),
    card-shadow: '0 5px 40px #0000001a, inset 0 2px 0 -1px #ffffff80',
  ),
);
