$colors: (
  plain: (
    bg: #ffffff,
    text: #1e1d25,
    text-secondary: #4e4c62,
    text-accent: #eb2a2f,
    text-link: #2805ff,
    action: #1E1D25,
    action-text: #ffffff,
    action-primary-hover: #3F3D4D,
    action-primary-active: #5B5777,
    action-secondary-hover: #3F3D4C1a,
    action-secondary-active: #3F3D4C4d,
    input-bg: #eeeef1,
  ),
  tint: (
    bg: #E9F3FF,
    text: #0B2A4F,
    text-secondary: #55759C,
    text-accent: #2A81EB,
    text-link: #2805ff,
    action: #001F44,
    action-text: #fdfdfd,
    action-primary-hover: #2D5A8F,
    action-primary-active: #5684BD,
    action-secondary-hover: #2D598F1a,
    action-secondary-active: #2D598F33,
    input-bg: #CDDFF5,
  ),
  general: (
    card-border: rgba(0, 0, 0, 0.1),
    card-shadow: '0 5px 40px #0000001a, inset 0 2px 0 -1px #ffffff80',
  ),
);
