@use 'tint/styles/bootstrap' as bootstrap
@use 'tint/styles/utils' as utils
@use './colors'


@include bootstrap.generate-color-variables(colors.$colors)

@include bootstrap.generate-font-faces("~tint/fonts")

@include bootstrap.full-bootstrap()

html
  height: 100%
body
  min-height: 100%
  display: flex
  flex-direction: column
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.shrinkwrap
  margin-inline: auto
  max-width: 1080px
  padding-inline: utils.$size-24

ul.pipelist
  list-style: none
  display: flex
  align-items: center
  li
    img
      position: relative
      top: utils.$size-2
    &:not(:last-child)::after
      content: '|'
      margin-inline: utils.$size-8
